Project/.vs/Project/v16/Server/sqlite3/db.lock
Project/.vs/Project/v16/Server/sqlite3/storage.ide-shm
*.cache
*.pdb
*.dll
*.ide-wal
*.ide
*.suo
Project/Src/BuildingBlocks/SharedService/Project.Auth/obj/Release/netcoreapp3.1/Project.Auth.AssemblyInfo.cs
Project/Src/BuildingBlocks/SharedService/Project.Core/Project.Core/obj/Release/netcoreapp3.1/Project.Core.AssemblyInfo.cs
Project/Src/BuildingBlocks/SharedService/Project.Enum/obj/Release/netcoreapp3.1/Project.Enum.AssemblyInfo.cs
Project/Src/BuildingBlocks/SharedService/Project.Auth/obj/
Project/Src/BuildingBlocks/SharedService/Project.Core/Project.Core/obj/
Project/Src/BuildingBlocks/SharedService/Project.Enum/obj/
Project/Src/BuildingBlocks/SharedService/Project.Helper/obj/
Project/Src/BuildingBlocks/SharedService/Project.Repo/obj/
Project/Src/Gateway/ProjectGateway/bin/
Project/Src/Services/CommonService/CommonService.API/bin/
*.v2
Project/.vs/
Project/Src/BuildingBlocks/CodeGenerator/ProjectCodeGenerator/obj/
Project/Src/Gateway/ProjectGateway/obj/
